<div class="row">
    <div class="col-xs-12">
        <h3>{{covek.ime}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{covek.broj}}<p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{covek.mejl}}<p>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <button class="btn btn-info" (click)="onEditCovek()">Izmeni Kontakt</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-10">
        <button class="btn btn-danger" (click)="onDeleteCovek()">Obrisi Kontakt</button>
    </div>
</div>
